@import url('https://fonts.googleapis.com/css2?family=DynaPuff:wght@400..700&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.dynapuff-title {
  font-family: 'DynaPuff', system-ui;
  font-weight: 600;
  font-style: normal;
  font-variation-settings: 'wdth' 100;
  color: #f6e8cd;
}

body {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-style: normal;
  line-height: 1.6;
  background-color: #f6e8cd;
  color: #111b2a;
}
.layout {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1.5rem;
}

.title {
  margin-top: 10px;
  font-weight: bold;
  font-size: 24px;
  text-align: center;
  line-height: 1;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 1rem;
}

header {
  background: #111b2a;
  color: #f6e8cd;
  position: relative;
}

.header-inner {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0.25rem 0.75rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-left {
  display: flex;
  align-items: center;
  gap: 5px;
}

.tassu {
  width: 100%;
  max-width: 110px;
  height: auto;
}

.logo {
  margin: 0;
  font-size: 32px;
  line-height: 1;
}

#nav {
  position: absolute;
  top: 100%;
  right: 0;
  background: #111b2a;
  width: 100%;
  display: none;
  z-index: 1000;
}

#nav ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem 0;
  list-style: none;
}

#nav a {
  color: #f6e8cd;
  font-size: 32px;
  text-decoration: none;
}

#nav a.active {
  color: #b1583c;
  font-weight: 700;
}

#nav.open {
  display: block;
}

.hamburger {
  display: flex;
  flex-direction: column;
  gap: 5px;
  background: none;
  border: none;
  cursor: pointer;
}

.hamburger span {
  width: 35px;
  height: 4px;
  margin: 1px;
  background: #b1583c;
  border-radius: 10px;
}

.hero {
  height: 100px;
  background: url('../kuvat/banneri.jpg') center / cover no-repeat;
  display: none;
}
.herocontact, .heroelaimet {
  height: 50px;
  background: url('../kuvat/banneri.jpg') center / cover no-repeat;
}

main {
  padding: 2rem 0;
}
/*Etusivu*/
.esittely {
  font-size: 16px;
  line-height: 1.2;
  margin: 0 10px;
  hyphens: auto;
    -webkit-hyphens: auto;
    -ms-hyphens: auto;
  overflow-wrap: break-word;
  word-break: normal;
}

.elaimet {
  width: 90%;
  background-color: #b1583c;
  padding: 20px 0;
  justify-self: center;
  margin: 20px 0;
  color: #111b2a;
  border: #752820 5px solid;
  border-radius: 13px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 20px;
}
.elaimet a {
  text-decoration: none;
  color: #111b2a;
  font-weight: bold;
}
.elaimet a:hover {
  text-decoration: underline;
}

.card {
  background: #f6e8cd;
  padding: 1rem;
  border-radius: 8px;
  border: #66211c 3px solid;
}

.cards, .cards-elaimet {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
}

.kuva {
  width: 100%;
  aspect-ratio: 4 / 3;
  border-radius: 5px;
  object-fit: cover;
}

.tiedot {
  padding: 5px 0;
  font-weight: 400;
  font-size: 22px;
}

.read-more {
  width: 100%;
  background-color: #b1583c;
  padding: 12px 0;
  color: #111b2a;
  border: #752820 1px solid;
  border-radius: 5px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 20px;
}
.read-more a {
  text-decoration: none;
  color: #111b2a;
}
.read-more a:hover {
  text-decoration: underline;
}
/*Yhteystiedot*/
.layout-contact {
  max-width: 600px;
  margin: 0 auto 10px auto;
  padding: 0 16px;
  display: grid;
}

.contact-title {
  text-align: center;
  margin-bottom: 20px;
}

.contact-form {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.form-group {
  display: flex;
  flex-direction: column;
}

label {
  margin-bottom: 6px;
  font-weight: 600;
}

input,
textarea {
  padding: 10px;
  border-radius: 6px;
  border: 1px solid #b1583c;
  font-size: 1rem;
}

input:focus,
textarea:focus {
  outline: none;
  border-color: #752820;
}

.submit-btn {
  margin-top: 8px;
  padding: 12px;
  background-color: #b1583c;
  color: #111b2a;
  border: #752820 5px solid;
  border-radius: 10px;
  cursor: pointer;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 20px;
}

hr {
  margin: 20px 0;
  height: 2px;
  background-color: #b1583c;
  border-width: 0;
  border-radius: 10px;
}
.info {
  font-size: 20px;
}
.info .email {
  color: #111b2a;
  text-decoration: none;
}
.hr-info {
  display: none;
}
.yhteys {
  margin-bottom: 5px;
}
/*Adoptio*/
.button-adoptio {
  width: 90%;
  background-color: #b1583c;
  padding: 20px 0;
  justify-self: center;
  margin: 5px 0;
  color: #111b2a;
  border: #752820 5px solid;
  border-radius: 13px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 20px;
  max-height: 75px;
}
.button-adoptio a {
  text-decoration: none;
  color: #111b2a;
  font-weight: bold;
}
.button-adoptio a:hover {
  text-decoration: underline;
}
.napit {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
}
/*Eläimet*/

.title-elaimet {
  text-align: center;
  margin-bottom: 20px;
}

footer {
  border-top: #b1583c 3px solid;
  background: #f6e8cd;
  color: #111b2a;
  text-align: left;
  padding: 1rem 0;
  position: relative;
  z-index: 1;
}

.footer-info {
  margin-left: 20px;
  font-weight: bold;
  font-size: 16px;
  color: #111b2a;
  line-height: 1.25;
}
.footer-info .email {
  color: #111b2a;
  text-decoration: none;
}
.footer-info .email:visited {
  color: #111b2a;
}
.footer-info .email:hover {
  text-decoration: underline;
}

/* TABLETTI ~834px */
@media (min-width: 600px) {
  .hamburger {
    display: flex;
  }
  .hero {
    display: block;
  }
  .herocontact, .heroelaimet {
    height: 100px;
  }
  .layout {
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
      'title elaimet'
      'esittely cards';
    gap: 1.5rem;
  }

  .title {
    grid-area: title;
    text-align: center;
    font-size: 24px;
    margin-top: 20px;
  }

  .elaimet {
    grid-area: elaimet;
    align-self: start;

  }

  .esittely {
    grid-area: esittely;
    font-size: 24px;
    line-height: 1.1;

  }

  .cards {
    grid-area: cards;
    align-self: start;
  }
  .cards-elaimet {
    grid-template-columns: repeat(4, 1fr);
  }
  .card {
    align-self: start;
  }
  .layout-contact {
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
      "contact-title contact-title"
      "contact-form info";
    gap: 1.5rem;
    max-width: none;
    width:100%;
  }
  .contact-title {
    grid-area: contact-title;
  }
  .contact-form {
    grid-area: contact-form;
  }
  .info {
    grid-area: info;   
  }
  hr {
    display: none;
  }
  .hr-info {
    display: block;
  }
  .layout-adoptio {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-areas:
      "title-adoptio title-adoptio"
      "esittely-adoptio napit";
    gap: 1.5rem;
    max-width: none;
    width:100%;
  }
  .title-adoptio {
    grid-area: title-adoptio;
    text-align: center;
    font-size: 24px;
  }
  .esittely-adoptio {
    grid-area: esittely-adoptio;
  }
  .napit {
    grid-area: napit;
    gap: 1rem;
  }
  .button-adoptio {
    width: 100%;
    font-size: 16px;
  }
  footer {
    margin-top: 40px;
  }
}

/* DESKTOP ~1440px */
@media (min-width: 1024px) {
  .logo {
    font-size: 2.5rem;
  }
  .hamburger {
    display: none;
  }
  .header-inner {
    max-width: 1440px;
    margin: 0 auto;
    padding: 0.1rem 1.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .header-left {
    display: flex;
    align-items: center;
    gap: 80px;
    margin-left: 20px;
  }
  .tassu {
    width: 100%;
    max-width: 140px;
    height: auto;
  }

  .logo {
    margin: 0;
    font-size: 2.5rem;
  }
  #nav {
    position: static;
    display: flex;
    justify-content: center;
  }

  #nav ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    gap: 2rem;
  }

  #nav a {
    color: #f6e8cd;
    font-size: 32px;
    text-decoration: none;
    line-height: 1;
  }

  #nav a.active {
    color: #b1583c;
    font-weight: 700;
  }

  .title, .title-adoptio, .title-elaimet, .contact-title{
    font-size: 36px;
  }
 

  .esittely {
    font-size: 28px;
    line-height: 1.1;
    margin-right: 5px;
  }
  
  .card {
    background: #f6e8cd;
    padding: 1.5rem;
    border-radius: 8px;
    border: #66211c 3px solid;
  }

  h4 {
    padding: 5px 0;
  }
  .read-more {
    width: 100%;
    background-color: #b1583c;
    padding: 12px 0;
    color: #111b2a;
    border: #752820 1px solid;
    border-radius: 5px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 20px;
  }
  .read-more a {
    text-decoration: none;
    color: #111b2a;
  }
  .read-more a:hover {
    text-decoration: underline;
  }
}

/*Jos joskus kortteja tulee enemmän kuin 2:

.cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(140px, 1fr));
}
*/
